@import '../../../scss/abstracts/mixins';

.pagination-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 1px solid $aga-color-text;
  border-radius: 5px;
  background-color: $aga-color-background;
  font-size: 16px;

  @include hover-effect;
}
