@import '../../../scss/abstracts/mixins';

.repo-item-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  background-color: $aga-color-background;
  color: $aga-color-text;
  font-weight: 500;
  gap: 15px;
  text-decoration: none;

  @include hover-effect;

  .stars {
    color: $aga-color-secondary;
    font-weight: bold;
  }
}
