@import '../../../scss/abstracts/mixins';

.repo-item-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: $aga-color-background;
  padding: 20px;
  border-radius: 20px;
  width: 100%;

  @include hover-effect();

  .stars {
    font-weight: bold;
    color: $aga-color-secondary;
  }
}
