@import './variables';

@mixin hover-effect() {
  &:hover {
    cursor: pointer;

    @include selected-page;
  }
}

@mixin selected-page() {
  background-color: $aga-color-text-light !important;
  box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
}
