// Colors
$aga-color-primary: #09f;
$aga-color-secondary: #00ae00;
$aga-color-text: #323232;
$aga-color-text-light: #a6a6a6;
$aga-color-background: #f6f6f6;
$aga-white: #fff;
$aga-black: #000;
$aga-error: #f00;

// media query
$medium: 900px;
$small: 599px;
