@import '../abstracts/mixins';

body {
  margin: 0;
  color: $aga-color-text;
  font-family: Asap, sans-serif;
  font-size: 18px;
  font-weight: normal;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.selected-page {
  @include selected-page;
}
