/*
  Standard-Text
 */
h1 {
  font-size: 34px;
  font-weight: bold;
}

h2 {
  font-size: 28px;
  font-weight: 600;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

a {
  font-weight: 600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
